body {
  background: #bad5f2;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  position: sticky;
  top: 0;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: black;
  text-align: center;
  font-size: 25px;
  font-family: Georgia;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #a3b9d2;
}


.title {
  text-align: center;
  font-family: Georgia;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: Georgia
}

p {
  text-indent: 30px;
  font-size: 20px
}


.iframe-wrap{
  float: right;       
  margin-right: 20px auto; 
  margin-bottom: 10px;
  padding-right: 40px auto;
  display: inline-block;
  margin: 20px;
  }

img{
 float: right;       
  margin-right: 20px; 
  margin-bottom: 10px;
  width: 200px;
  

